<h1 class="text-white text-center pt-4">Register</h1>
<form
    [formGroup]="userForm" class="bg-black text-white align-items-center form custom-center-align text-center mb-4 rounded"
>
<div>
    <label for="name" class="form-label">Name</label>
    <input
      formControlName="name"
      type="text"
      class="form-control"
      id="name"
      aria-describedby="name"
    />
    <div
      *ngIf="name.invalid && (name.dirty || name.touched)"
      class="text-danger"
    >
      <div *ngIf="name.errors?.['required']">Name is required.</div>
      <div *ngIf="name.errors?.['pattern']">Name does not allow numbers or special characters.</div>

    </div>

    <label for="lastName" class="form-label">Last name</label>
    <input
      formControlName="lastName"
      type="text"
      class="form-control"
      id="lastName"
      aria-describedby="lastName"
    />
    <div
      *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
      class="text-danger"
    >
      <div *ngIf="lastName.errors?.['required']">Last name is required.</div>
      <div *ngIf="lastName.errors?.['pattern']">Last name does not allow numbers or special characters.</div>

    </div>

    <label for="email" class="form-label">Email</label>
    <input
      formControlName="email"
      type="email"
      class="form-control"
      id="email"
      aria-describedby="email"
    />
    <div
    *ngIf="email.invalid && (email.dirty || email.touched)"
    class="text-danger"
  >
    <div *ngIf="email.errors?.['required']">Email is required.</div>
    <div *ngIf="email.errors?.['email']">Email must be in email format.</div>
  </div>


    <label for="password" class="form-label">Password</label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      id="password"
      aria-describedby="password"
    />
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="text-danger"
    >
      <div *ngIf="password.errors?.['required']">Password is required.</div>
      <div *ngIf="password.errors?.['pattern']">
        <ul>
          Password should contain:
          <li>8 characters</li>
          <li>At least one uppercase letter</li>
          <li>At least one lowercase letter</li>
          <li>At least one number letter</li>
        </ul>
      </div>
        

    </div>
    
    <div>
      <label for="confirmPassword">Confirm password</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="text-danger" class="form-control">
      <div *ngIf="confirmPassword?.invalid && (confirmPassword.touched || confirmPassword.dirty)" class="text-danger">
        <div *ngIf="confirmPassword.errors?.['required'] || confirmPassword.value === ''">Confirm password is required</div>
        <div *ngIf="userForm.hasError('passwordMismatch') && confirmPassword.value != ''">Passwords dont match</div>
      </div>
    </div>

    <button type="submit" (click)="validateForm()" class="btn btn-dark mt-3">
        Sing up
      </button>
</div>
</form>
