<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-black">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a routerLink="/home" class="navbar-brand mt-2 mt-lg-0">
        <img
          class="logo"
          src="../assets/img/logo get drunk.png"
          height="15"
          alt="Get Drunk logo"
          loading="lazy"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="/home"
            class="nav-link horizonFont text-white font-size-lg-16"
            >Get Drunk</a
          >
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <shared-search-bar></shared-search-bar>
      <!-- Icon -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="/home"
            routerLinkActive="true"
            class="nav-link text-white"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#">Projects</a>
        </li>
      </ul>
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Favorites icon-->
      <div>
        <a
          href="#"
          id="favoritesIcon"
          role="button"
          style="color: white; padding-right: 20px"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="white"
            class="bi bi-heart-fill"
            viewBox="0 0 16 16"
            href="#"
          >
            <path
              fill-rule="evenodd"
              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
            />
          </svg>
        </a>
      </div>

      <!-- User -->
      <div>
        <a
          href="#"
          id="userIcon"
          role="button"
          style="color: white; padding-right: 20px"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="white"
            class="bi bi-person-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
            />
          </svg>
        </a>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
